* {
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
}

body {
    background-color: #EDE0D4;
}

.AppBody {
    border: 1px black solid;
    border-radius: 5px;
    background-color: #7F5539;

    display: flex;
    flex-direction: column;
}

.AppTitle {
    border: 1px black solid;
    border-radius: 5px;
    background-color: #EDE0D4;
    color: #7F5539;

    display: flex;
    justify-content: space-evenly;
}

.Appform {
    border: 1px black solid;
    border-radius: 5px;
    background-color: #EDE0D4;
}

.ConfigurationForm {
    border: 1px black solid;
    border-radius: 5px;
    background-color: #7F5539;
    color: #EDE0D4;
}

.ConfigurationTitle, .WallTitle {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ConfigurationIputs, .WallInputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ConfigurationIputs > div,
.WallInputs > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.WallForm {
    border: 1px black solid;
    border-radius: 5px;
    background-color: #7F5539;
    color: #EDE0D4;
}

.ObjectsArray{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ObjectForm {
    border: 1px black solid;
    background-color: #EDE0D4;
    border-radius: 5px;
    color: #7F5539;

    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
}

.ObjectInput > div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.CalculationButton {
    border-radius: 5px;
    background-color: #EDE0D4;
    color: #7F5539;
    height: 2rem;
    font-size: 1.2rem;
}

.FeedBack {
    border: 1px black solid;
    border-radius: 5px;
    background-color: #EDE0D4;
    color: #7F5539;

    display: flex;
    flex-direction: column;
    align-items: center;
}
