* {
    margin: 1px;
    padding: 0;
    box-sizing: border-box;
}

.App-div {
    border: 5px solid black;
}

.App-h1 {
    border: 1px solid blue;
    margin: 5px;
}

.Walls-form {
    border: 1px solid blue;
    margin: 5px;
}

.Walls-Inputs-div {
    border: 1px solid red;
    margin: 5px;
}

.WallConfig-div {
    border: 1px solid red;
    margin: 5px;
}

.ObjectConfig-div {
    border: 1px solid green;
    margin: 5px;
}

.Output-div {
    border: 1px solid blue;
    margin: 5px;
}
